/* port.css */


img{max-width: 100%;}
    body{background-color: black;color: white;}
          #site_id{font-size: 1.4em;color: white;}
         
          .nav_small,a{text-decoration: none;color: white;}
        
          #content{display: grid;grid-template-rows: 5em 6em;grid-template-columns: 1fr .5fr;
            grid-template-areas: "siteid menu"
                                 "nav     nav";}
       #nav_small{grid-area: nav;border: 2px solid white;border-radius: 1em;font-size: 1em;text-align: center;margin: -2.3em 0em 0em 60%;height: 5.4em;}
            #site_id{grid-area: siteid;margin-top: .3em;}
            #menu{grid-area: menu;margin-left: 4em;}
            nav{display: none;}
          footer{margin-top: 5em;ol, li{list-style-type: none;margin-top: 1.5em;margin-left: -.5em;}}
        
            @media screen and (min-width: 375px){
           #menu{margin-left: 6em;}
              #nav_small{width: 8em;margin-left: 63%;}
            }
            @media screen and (min-width: 425px){
              #nav_small{margin-left: 64%;width: 8em;}
            }
            @media screen and (min-width: 425px){
              #nav_small{margin-left: 68%;}
            }
          @media screen and (min-width: 768px){
       #menu{margin-left: 13em;}
            #nav_small{width: 8em;margin-left: 81%;height: 6em;}
            footer{margin-top: 5em;}
            #site_id, .nav_small{font-size: 1.1em;}
          }
    
          @media screen and (min-width: 1024px){
        ul,li{list-style-type: none;}
            #menu{display: none;}
    #nav_small{display: none;}
           
              h2{font-size: 3.2em;}
                #site_id{font-size: 1.2em;margin-left: 1em;}
                nav{display: flex;flex-direction: row;margin-left: 9em;
                }  
                .nav{margin-left: .8em;font-size: 1.2em;}
                #footer{display: flex;flex-direction: row;.social_md{margin-right: 2em;}
                ol,li{margin-top: .5em;margin-bottom: 3em;}}
                #rights{margin-left: -1em;margin-right: 14em;}
          }
          @media screen and (min-width: 1440px){
      nav{margin-left: 18.5em;}
            .nav{margin-left: 1em;}
            #content{padding-top: 1em;margin: -1em 0em 0em -.5em;}
            #rights{margin-right: 25%;}
          
          }